.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background: #03080a;
}

.App {
  font-family: 'Share Tech', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  text-shadow: 8px 8px 10px #0000008c;
  background-repeat: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: rgb(85,127,121);
  background: linear-gradient(135deg, rgba(85,127,121,1) 8%, rgba(0,79,59,1) 59%, rgba(0,13,37,1) 100%);
}